/* COMMON */
body {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto Slab';
  position: relative;
}
.page {
  background-image: url('/images/anonymous-server-background.jpg') ;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding:  auto 0;
  min-height: 500px;
  
}
@media all and (min-width:500px) {
  
}



/* HEADER */
.page__header {

}
.nav-trigger {
  background: url('/images/ico-menu.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
  border: none;
  color: transparent;
  box-sizing: content-box;
  padding: 20px 10px;
  border-radius: 5px ;
  position: absolute;
  right: 20px;
  top: 20px;
}




/* MENU */
.nav {
  display: none;
}
.nav-open{
  display: block;
  z-index: 1;
  background-color: #402929;
  opacity: 92%;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top:0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__items {
  margin: 0px;
  text-align: center;
  padding: 0px;
}
.nav__item {
  list-style: none;
}
.nav__link {
  text-decoration: none;
  color: white;
  font-size: 40px;
}
.nav-close {
  background: url('/images/ico-close.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
  border: none;
  color: transparent;
  box-sizing: content-box;
  padding: 20px 10px;
  border-radius: 5px ;
  position: absolute;
  right: 20px;
  top: 20px;
}





/* MAIN */
.page__main {
  margin: 0 auto;
}
.page__wrapper {
 
}
.page__main-title {
  color: white;
  width: 400px;
  font-family: 'Roboto Slab';
  font-size: 60px;
  text-transform: uppercase;
  margin: 0px;
  transform: translateY(50%);
}




/* FOOTER */
.page__footer {
  position: absolute;
  left: 50%;
  bottom: 10%;
  transform: translateX(-50%);

}
.page__footer {}
.page__footer-copy {
  background-color: grey;
  font-family: 'Arial';
  color:white;
  opacity: 50%;
  padding: 7px 15px;
  border-radius: 5px;
}
