/* COMMON */
body {
  margin: 0px;
  padding: 0px;
}
.page {
  background: url('/images/anonymous-server-background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}




/* HEADER */
.page__header {}
.nav-trigger {
  background: url('/images/ico-menu.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
  border: none;
  color: transparent;
  box-sizing: content-box;
  padding: 20px 10px;
  border-radius: 5px ;
}




/* MENU */
.nav {}
.nav__items {}
.nav__item {}
.nav__link {}
.nav-close {}




/* MAIN */
.page__main {}
.page__wrapper {}
.page__main-title {}




/* FOOTER */
.page__footer {}
.page__footer {}
.page__footer-copy {}
