/* COMMON */
body {
  margin: 0px;
  padding: 0px;
}
.page {
  background-image: url('/images/anonymous-server-background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  position: relative;
}
@media all and (min-width:500px) {
  
}



/* HEADER */
.page__header {

}
.nav-trigger {
  background: url('/images/ico-menu.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
  border: none;
  color: transparent;
  box-sizing: content-box;
  padding: 20px 10px;
  border-radius: 5px ;
  position: absolute;
  right: 20px;
  top: 20px;
}




/* MENU */
.nav {
  display: none;
}
.nav-open{
  display: block;
  z-index: 1;
}
.nav__items {
  margin: 0px;
}
.nav__item {
  list-style: none;
}
.nav__link {}
.nav-close {
  background: url('/images/ico-close.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
  border: none;
  color: transparent;
  box-sizing: content-box;
  padding: 20px 10px;
  border-radius: 5px ;
  position: absolute;
  right: 20px;
  top: 20px;
}





/* MAIN */
.page__main {}
.page__wrapper {}
.page__main-title {
  color: white;
  width: 40px;
  font-family: 'Roboto Slab';
  font-size: 60px;
  text-transform: uppercase;
  margin: 0px;
}




/* FOOTER */
.page__footer {}
.page__footer {}
.page__footer-copy {}
